body {
    background-image: url("../images/silverware.jpg");
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    text-decoration: underline;
    color: #A4A400;
    background-color: #F0F0F0;
}

ul.pieList {
    list-style: url("../images/pie_icon.gif");
}

ol span:first-child {
    color: black;
   font-weight: bold;
}
a{
color: #A4A400;
}

p.bgColor{
    background-color: #f8f8a3;;
    font-style: italic;
}

.gridContainer{
    padding-left: 20px;
    padding-right: 20px;
}